.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal {
  max-width: 700px;
  margin: 0 auto;
  width: "50%";
  padding: 40px 60px;
  background: white;
  border-radius: 10px;

  .modal-heading {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 36.4138px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .formGroup {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .error {
        color: red;
        margin-top: 8px;
      }

      label {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 23.41px;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 19px;
      }

      input {
        width: 100%;
        height: 70px;
        border: 3px solid #626262;
        box-sizing: border-box;
        border-radius: 9px;
        padding: 22px 20px;

        font-family: Quicksand;
        font-weight: 500;
        font-size: 23.41px;
      }
    }
  }
}

.modal p {
  color: #444;
  font-weight: bold;
}

.cancel {
  position: absolute;
  top: 30px;
  right: 50px;
}

.extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.instead {
  cursor: pointer;
  font-family: "Montserrat";
  text-align: left;
  // width: 100%;
  margin-top: -20px;
  font-weight: 500;

  span {
    // text-decoration: underline;
    color: #444;
    border-bottom: 1px solid #444;
  }
}

.submit {
  button {
    background: #f45b49;
    border-radius: 7px;
    padding: 14px 61px;
    border: none;
    margin-top: 10px;
    cursor: pointer;

    .button {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 18.9053px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}
