.wrapper {
  // height: 80%;
  width: 90%;
  grid-area: 5 / 2 / span 2 / 3;
  //   justify-self: center;
  padding-top: 30px;
  padding-bottom: 0px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.title {
  font-family: Montserrat;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.card {
  border: 5.11831px solid #626262;
  border-radius: 12.284px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;

  .profileContainer {
    min-width: 120px;
    height: 100%;
    padding-top: 40px;
  }

  .postContainer {
    // display: flex;
    // flex-direction: column;
    padding-top: 49px;
    flex: auto;

    .username {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 29.3975px;
      /* identical to box height */
      color: #000000;
      margin-bottom: 20px;
    }

    .content {
      margin-right: 80px;
      margin-bottom: 30px;

      .postDesc {
        font-size: 19.4259px;

        color: #000000;
      }

      .imgContainer {
        cursor: pointer;
        width: 100%;
        min-height: 400px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .info {
    display: flex;
    margin-bottom: 30px;

    span {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 16.3786px;
      display: flex;
      font-weight: 400;
      font-family: poppins;
      align-items: center;
      color: #4f4f4f;
      svg {
        margin-right: 10px;
      }
    }

    span:first-child {
      margin-left: 0;
    }

    // span:nth-child(4) {
    //   margin-left: auto;
    //   // margin-right: unset;
    // }
  }
}

.top {
  display: flex;
  align-items: flex-start;
  padding-right: 75px;

  h3 {
    margin-bottom: 0;
  }

  span:nth-child(2) {
    margin-left: auto;
    margin-right: 40px;
  }

  span:nth-child(3) {
    margin-top: 2px;
  }
}
