@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Quicksand, sans-serif;
  /* overflow: hidden; */
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.main {
  display: grid;
  background: linear-gradient(90deg, #cfd9df 0%, #e2ebf0 100%);
  grid-template-columns: minmax(0, 0.8fr) minmax(0, 4fr) minmax(0, 2.3fr);
  grid-template-rows: repeat(11, minmax(0, 1fr));
  height: 1080px;
  width: 100vw;
  overflow: hidden;
}

svg {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.loading {
  background-color: #ffffff;
}

.loading-title {
  position: absolute;
  bottom: 300px;
  font-family: "Montserrat";

  /* margin-bottom: 200px; */
}
