@import "mixins";

.main {
  // height: 80%;
  width: 95%;
  grid-area: 1 / 2 / span all / 3;
  overflow: auto;
  justify-self: flex-start;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  @include scrollbars(8px, #f45b49);
}
