@import "mixins";

.wrapper {
  width: 90%;
  align-self: center;
  grid-area: 8 / 3 / span 4 / 4;
  border: 5.11831px solid #626262;
  border-radius: 12.284px;
  padding-top: 25px;
  height: 320px;
  overflow: hidden;
  padding-bottom: 0;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.title {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 20px;
  margin-top: 5px;
  padding-left: 35px;

  svg {
    cursor: unset;
    margin-right: 15px;
  }
}

/** Suggestion Item */

.itemContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 30px;
  overflow: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
  margin-right: 35px;
  padding-left: 35px;
  padding-right: 30px;
  @include scrollbars(8px, #f45b49);

  gap: 25px;
}

.item {
  display: flex;
  align-items: center;

  h4 {
    margin-left: 20px;
    font-family: poppins;
    font-size: 16px;
  }

  span {
    margin-left: auto;
    color: #626262;
    font-family: Poppins;
  }
}
