.wrapper {
  width: 90%;
  grid-area: 1 / 2 / span 4 / 3;
  padding-top: 0px;
  padding-bottom: 0px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    form {
      margin-top: 20px;
      border-radius: 34px;
      background: white;
      height: 300px;
      width: 100%;
      position: relative;

      .imagePicker input {
        display: none;
      }

      .postBuzz {
        height: 80%;
      }

      textArea {
        width: 100%;
        height: 100%;
        border-radius: 34px;
        resize: none;
        border: none;
        outline: none;
        padding: 50px;
        padding-left: 120px;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 18.4259px;

        &::placeholder {
          color: #626262;
        }
      }

      .absoluteSubmit {
        position: absolute;
        display: flex;
        left: 35px;
        height: 50px;
        right: 35px;
        bottom: 30px;
        align-items: center;

        .uploaded {
          height: 100%;
          img {
            border-radius: 10px;
            height: 100%;
            margin-left: 10px;
          }
          img:first-child {
            margin-left: 0;
          }
        }

        .imagePicker {
          margin-left: auto;
        }

        button {
          margin-left: 40px;
          background: #f45b49;
          border-radius: 11.2603px;
          border: none;
          outline: none;
          font-family: Montserrat;
          font-weight: bold;
          font-size: 18.9053px;
          color: #ffffff;
          cursor: pointer;
          padding: 12px 33px;
        }
      }
    }
  }
}

.title {
  font-family: Montserrat;
  font-size: 24px;
  margin-top: 5px;
}

.error {
  color: #f45b49;
}
.message {
  display: inline-block;
  margin-left: 30px;
  position: absolute;
  font-size: 18px;
  top: 20px;
  right: 40px;
}

.success {
  color: green;
}
