.wrapper {
  width: 100vw;
  height: 150px;
  position: absolute;

  .header {
    width: 88%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav {
      ul {
        align-items: center;
        display: flex;

        .item {
          list-style-type: none;
          cursor: pointer;

          .login {
            transition: all 0.2s ease-in-out;

            &:hover {
              color: rgb(61, 61, 61);
            }
          }

          .signup {
            border: 5px solid #49574e;
            border-radius: 50px;
            padding: 10px 36px;
            transition: all 0.2s ease-in-out;

            &:hover {
              background: rgba(179, 179, 179, 0.52);
            }
          }

          h1 {
            font-weight: 500;
            font-size: 24px;
            margin-left: 80px;
          }
        }
      }
    }
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 500px;

  & > div {
    width: 100%;
    padding-top: 0px;
  }
}
