@import "mixins";

.wrapper {
  width: 90%;
  height: 90%;
  grid-area: 3 / 3 / span 5 / 4;
  align-self: center;
  border: 5.11831px solid #626262;
  border-radius: 12.284px;
  // padding: 35px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 0;
  overflow: hidden;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    width: 100%;
  }
}

.title {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 20px;
  margin-top: 5px;
  padding-right: 35px;
  padding-left: 35px;

  svg {
    cursor: unset;
    margin-right: 15px;
  }
}

/** Notification Item */

.itemContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  overflow-y: auto;
  padding-bottom: 30px;
  margin-bottom: 20px;
  overflow-x: hidden;
  padding-right: 0px;
  margin-right: 35px;
  padding-left: 35px;

  @include scrollbars(8px, #f45b49);

  gap: 25px;
}

.item {
  display: flex;
  align-items: center;

  p {
    margin-left: 20px;
    font-family: poppins;
    font-size: 16px;
  }

  span {
    margin-left: auto;
    color: #626262;
    font-family: Poppins;
  }
}
