@import "mixins";

.container {
  grid-area: 1 / 1 / span all / span all;
  display: flex;
  flex-direction: column;
  padding: 50px 60px;
  padding-top: 40px;
  background: transparent;
  // background: linear-gradient(90deg, #cfd9df 0%, #e2ebf0 100%);
  gap: 30px;

  .top,
  .bottom {
    display: flex;
    justify-content: space-between;
  }

  .top {
    align-items: center;
    h1 {
      font-family: Montserrat;
      font-size: 40.8298px;
    }

    .back {
      cursor: pointer;
      border-radius: 50%;
      padding: 20px;
      border: none;
      outline: none;
      background: hsla(0, 0%, 57%, 0.2);
    }
  }
  .bottom {
    flex: auto;
    gap: 40px;
    justify-content: center;

    .postImage {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 30px;
      background: black;
      border: 4px solid #636363;
      flex: 5;
      position: relative;
    }

    .postDetails {
      overflow: hidden;
      background-color: white;
      position: relative;
      // flex: 1.8;
      max-height: 900px;
      width: 500px;
      padding: 40px 30px;
      border-radius: 30px;

      .userInfo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;

        .username {
          font-family: Montserrat;
          font-weight: 500;
          cursor: pointer;
          font-size: 29.3975px;
        }

        & > span {
          margin-left: auto;
        }
      }

      .postDesc {
        font-size: 18.4259px;
        margin-bottom: 30px;
      }

      .postInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > span {
          cursor: pointer;
          font-weight: 500;
          font-size: 18.3786px;
          color: #4f4f4f;
          display: flex;
          align-items: center;

          svg {
            margin-right: 10px;
          }
        }
      }

      .divider {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid hsla(0, 0%, 0%, 0.157);
      }
    }
  }
}

.ul,
.li {
  margin: 0;
  padding: 0;
}

.asd {
  height: 71%;
  padding-bottom: 100px;
  .ul {
    width: 100%;
    // height: 78%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    // margin: 0 auto;
    padding-right: 20px;

    @include scrollbars(8px, #f45b49);
  }
}

.commentCard {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  gap: 15px;
  justify-content: flex-start;

  .commentInfo {
    padding-right: 15px;
    .username {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 23.6814px;
    }

    .content {
      font-weight: normal;
      font-size: 18.4259px;
    }
  }
}

.header {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 30px;
}

.commentFiltered {
  width: 100%;
  padding: 24px 18px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffe4e4;
  border-radius: 12px;
  gap: 15px;

  h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Montserrat;
    font-weight: 500;
    color: #ff0000;
  }

  p {
    font-family: Montserrat;
    font-size: 18.4259px;

    span {
      color: #ff0000;
    }
  }
}

.red {
  color: #ff0000;
}

.form {
  position: absolute;
  height: 100px;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.198);

  .formGroup {
    border-radius: inherit;
    height: 100%;
  }

  input {
    border: none;
    padding: 25px;
    padding-right: 80px;
    font-size: 20px;
    font-family: "Montserrat";
    width: 100%;
    border-radius: inherit;
    height: 100%;
    &:focus {
      outline: none;
    }
  }

  .submit {
    border: none;
    outline: none;
    background: white;
    position: absolute;
    right: 0px;
    width: 80px;
    height: 100%;
    top: 0;
    border-radius: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.delete {
  position: absolute;
  right: 0;
}
