@import "mixins";

.main {
  // height: 80%;
  width: 95%;
  grid-area: 1 / 2 / span all / 3;
  overflow: auto;
  justify-self: flex-start;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  @include scrollbars(8px, #f45b49);
}

.container {
  grid-area: 1 / 1 / span all / span all;
  display: flex;
  flex-direction: column;
  padding: 50px 60px;
  padding-top: 40px;
  background: transparent;
  // background: linear-gradient(90deg, #cfd9df 0%, #e2ebf0 100%);
  gap: 30px;
}
