.wrapper {
  // height: 80%;
  width: 90%;
  grid-column: 3 / 4;
  grid-row-start: 1;
  //   justify-self: center;
  padding-top: 60px;
  padding-bottom: 0px;

  .container {
    display: flex;
    flex-direction: column;
    // height: 70%;
    // width: 80%;
    justify-content: space-between;

    form {
      overflow: hidden;
      position: relative;
      height: 80px;

      width: 100%;
      // height: 100%;
      border: 5.11831px solid #626262;
      border-radius: 12.284px;

      .formGroup {
        height: 100%;
      }

      input {
        background: none;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 20px;
        padding-left: 65px;
        color: black;
        font-size: 18px;
        font-family: poppins;

        &::placeholder {
          color: #636363;
        }
      }

      .searchIcon {
        position: absolute;
        top: 22px;
        left: 20px;
        svg {
          cursor: unset;
        }
      }
      .submitIcon {
        position: absolute;
        top: 22px;
        right: 20px;
        z-index: 10;
        button {
          background: none;
          border: none;
        }
      }
    }
  }
}

.title {
  font-family: Montserrat;
  font-size: 24px;
  margin-top: 5px;
}
