@import "mixins";

.main {
  // height: 80%;
  width: 95%;
  // height: 100%;
  grid-area: 1 / 2 / span all / 3;
  overflow: auto;
  justify-self: flex-start;
  padding-top: 10px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  @include scrollbars(8px, #f45b49);
}

.pageHeader {
  //   margin-top: 40px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: normal;
  strong {
    color: #f45b49;
  }
}

.sectionTitle {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 50px;
  span {
    color: #f45b49;
  }
}
