.wrapper {
  height: 100vh;
  width: 200px;
  grid-area: 1 / 1 / 11 / 2;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 30px 0px;
    justify-content: space-between;

    & > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      //   align-items: center;

      & > div {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .logoContainer {
        margin-top: 0px;
        cursor: pointer;
      }
    }

    .top {
      .logoContainer {
        font-family: "Montserrat", sans-serif;

        font-size: 50px;
        font-weight: bold;
        color: #f45b49;
      }
    }

    .bottom {
      justify-content: flex-end;
      .logout {
        margin-left: 10px;
      }
    }

    .profile {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      border: 4px solid black;
    }
  }
}
