.wrapper {
  width: 90%;
  grid-area: 5 / 2 / span 4 / 3;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 300px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 100%;

    .profile {
      display: flex;
      align-items: center;
      width: 100%;

      .information {
        width: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin-left: 20px;

        .editContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .username {
            margin-bottom: 0;
            font-family: "Montserrat";
          }
        }

        .edit {
          color: blue;
          height: 100%;
        }
      }
    }
  }
}

.title {
  font-family: Montserrat;
  font-size: 40.8298px;
  margin-bottom: 20px;
}

.email {
  color: blue;
  cursor: pointer;
  font-weight: 500;
  font-size: 18.4259px;
}

.follow {
  display: flex;
  gap: 20px;
}

.bio {
  font-size: 18px;
  font-weight: 500;
}
