// Avatar Styles

.profile {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  overflow: hidden;
  border: 4px solid black;
  position: relative;

  svg {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
  }

  img {
    cursor: pointer;
    width: 100%;
    // height: 100%;
    transform: scale(1.2);
  }
}

// Button Styles

.button {
  background: #f45b49;
  border-radius: 8.00702px;
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 23px 39px;

  font-family: Montserrat;
  font-weight: bold;
  font-size: 29.176px;
  color: #ffffff;
  display: flex;
  gap: 30px;
  align-items: center;
}
